/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 *= stub active_admin
 *= require_tree .
 *= require jquery-ui
 */
 @font-face {
font-family:'FontAwesome';
src:url("/assets/fontawesome-webfont.eot ");
src:url("/assets/fontawesome-webfont.eot") format("embedded-opentype"),
    url("/assets/fontawesome-webfont.woff") format("woff"),
    url("/assets/fontawesome-webfont.ttf") format("truetype"),
    url("/assets/fontawesome-webfont.svg") format("svg"),
    url("/assets/glyphicons-halflings-regular.woff") format("woff"),
    url("/assets/glyphicons-halflings-regular.svg") format("svg");
font-weight:normal;
font-style:normal;
}
.img-thumbnail{
    height: 200px!important;
}
.badge{
    color: #fff!important;
}
.nav-justified {
    display: inline-block;
}
#zoom {
    cursor: pointer;
}
#image-modal {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.image-zoom:hover {
    transform: scale(2.0);
}
input.btn-default {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}